@import url(https://raw.githack.com/LoreClanGG/css/main/darkmode.css);

.crosshair-cont[data-v-0f24d8f9] {
    background: url(https://upload.wikimedia.org/wikipedia/en/thumb/9/9a/Trollface_non-free.png/220px-Trollface_non-free.png)  center 100% / 100%;
    height: 183px;
    position: center;
    width: 200px;
    image-rendering: -moz-crisp-edges;
}
