@import url(https://raw.githack.com/LoreClanGG/css/main/darkmode.css);

.crosshair-cont[data-v-0f24d8f9] {
    background: url(https://media.discordapp.net/attachments/657886870583246858/843917697641349131/dot.png)  center 100% / 100%;
    width: 50px;
    height: 50px;
    position: center;
    image-rendering: -moz-crisp-edges;
}
.logo[data-v-4520d328] {
    content: url(https://cdn.discordapp.com/attachments/919511402853580860/929769935830401034/ace_kirka_logo.png) !important;
    position: absolute;
    top: .5rem;
    pointer-events: none;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
