@import url(https://raw.githack.com/LoreClanGG/css/main/darkmode.css);

.crosshair-cont[data-v-0f24d8f9] {
    background: url(https://media.discordapp.net/attachments/901185531185074217/919971608058281984/default.png?width=45&height=45)  center 100% / 100%;
    height: 45px;
    position: center;
    width: 45px;
    image-rendering: -moz-crisp-edges;
}
.messages[data-v-76a3fe0a] {
    background: url(https://cdn.discordapp.com/attachments/919511402853580860/928859090686464030/New_Project_12.png)  center 100% / 100% !important;
}
